/* ====================Mulish Font Added from Google================== */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* ======================Common Css Part Start========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 120px;
}

.common_title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.common_title_p {
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0;
  text-align: center;
}

.common_button {
  border-radius: 8px;
  background: #FF5400;
  padding: 14px 30px;
  display: inline-block;
  margin-top: 32px;
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
}

/* =====================Nav Part Css=============== */
.navigation {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.logo h3 {
  color: #131318;
  font-size: 30px;
  font-weight: 800;
}

.logo h3 span {
  color: #FF5400;
}

.nav_link ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav_link ul li a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
  transition: all .3s;
}

.nav_link ul li a:hover {
  color: #FF5400;
}

/* =================Banner Part Css====================== */
#banner {
  margin: 50px 0 100px;
  background: url('../Images/Banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 16px;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.overly {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner_text h1 {
  text-align: center;
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
}

.banner_text p {
  width: 640px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.banner_input {
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  display: flex;
  align-items: center;
  gap: 24px;
}

.banner_input .input {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.50);
}

.banner_input input {
  border: none;
  outline: none;
}

.banner_input a {
  border-radius: 8px;
  background: #FF5400;
  padding: 16px 30px;
  color: #fff;
}

/* =================Popular Tour Part Css================== */
#popular_tour {
  margin-bottom: 100px;
}

.tour {
  display: flex;
  justify-content: space-between;
}

.tour_details {
  max-width: 45%;
}

.tour_details .common_title,
.tour_details .common_title_p {
  text-align: left;
}

.tour_details ul {
  margin-top: 24px;
  padding-left: 20px;
}

.tour_details ul li {
  list-style: disc;
  margin: 0 0 16px;
}

/* ===========================Destination Part Css=================== */
#destination {
  margin-bottom: 100px;
}

#destination p {
  width: 620px;
  margin: 24px auto;
}

.dest_item {
  margin: 24px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dest_image img {
  max-width: 97%;
  object-fit: cover;
}

.dest_country {
  position: relative;
  text-align: center;
}

.dest_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}

/* =========================Service Part Css============================= */
#service {
  margin-bottom: 100px;
}

#service .common_title_p {
  width: 640px;
  margin: 24px auto;
}

.service_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card_item {
  padding: 36px 40px 36px 36px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
}

.card_item:nth-child(2) {
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}

.card_item h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding: 32px 0 16px;
}

.card_item p {
  width: 460px;
  color: #131318;
  font-size: 16px;
  font-weight: 400;
}

/* --------------------------Deals & Discount Par Css--------------------- */
#deals {
  margin-bottom: 100px;
}

#deals .common_title_p {
  width: 515px;
  margin: 24px auto;
}

.deal_discounts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.discount1 {
  background: url('../Images/Group\ 39.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 56px 56px 56px 0;
  border-radius: 16px;
  display: flex;
  justify-content: end;
}

.deals_details {
  padding: 50px 0 50px 50px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  color: #5A5A5D;
  width: fit-content;

}

.deals_info {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.deals_info i {
  color: #FF5400;
}

.deals_details h3 {
  padding: 26px 0 16px;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.deals_details p {
  width: 460px;
}

.price_tag {
  padding: 16px 0px 0;
  color: #FF5400;
  font-size: 20px;
  font-weight: 800;
}

.discount2 {
  background: url('../Images/Group\ 40.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 56px 0px 56px 56px;
  border-radius: 16px;
  display: flex;
}

.deal_discounts .common_button {
  width: fit-content;
  margin: 0 auto;
}

/* -----------------Place part css ---------------------- */
#place {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.place_text {
  max-width: 50%;
}

.place_text h2 {
  text-align: left;
}

.place_text .common_title_p {
  margin: 16px 0;
  text-align: left;
}

.place_text ul {
  padding-left: 20px;
}

.place_text li {
  list-style: disc;
  margin-bottom: 10px;
}

#place .place_video video {
  max-width: 100%;
  border-radius: 14px;
}